<footer class="footer">
  <div class="container footer-grid">
    <div>
      <strong>Caldefense Tech Solutions</strong>
      <p>Advanced defense & technology systems</p>
      <p>© <span id="y"></span></p>
    </div>

    <div>
      <h4>Company</h4>
      <a href="about.html">About</a><br>
      <a href="missions.html">Missions</a>
    </div>

    <div>
      <h4>Explore</h4>
      <a href="fields.html">Fields</a><br>
      <a href="solutions.html">Solutions</a>
    </div>
  </div>
</footer>
